.grid-container {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr [columns]);
    grid-template-rows: repeat(2, 1fr [rows]);
}

.grid-container {
    display: grid;
}

.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}
