.grid-container {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 33.333% [columns]);
    grid-template-rows: repeat(2, 1fr [rows]);
    grid-template-areas: "video calendar calendar" "other calendar calendar"
}

.grid-container {
    display: grid;
}

.painting {
    color: #fff;
    font-size: 150%;
    border: 2px red solid;
}

#video-cell {
    background-color: #444;
    grid-area: video;
}

#calendar-cell {
    background-color: #777;
    grid-area: calendar;
}

#calendar-cell iframe {
    width: 100%;
    height: 100%;
}

#info-cell {
    background-color: #999;
    grid-area: info;
}
